/* ejemplo2.css   AR19085  */
pais {background-color:rgb(255, 255, 255);}
departamento {background-color:rgb(230, 228, 228); display:block;} 
cabecera {color:rgb(228, 20, 20); display:block;} 
habitantes {color:rgb(183, 0, 255); display:block;}
altura {color:hsl(29, 100%, 50%);font-size:1cm; display:none;}
moneda{color: aquamarine; display: block;}
codigoTelefonico{color: aqua; display: block;}
idiomaOficial{color: blue; display: block;}
idiomaSegundo{color: brown; display: block;}
area{color: blueviolet; display: block;}

departamento[name]::before{
    content: attr(name);
}
cabecera[name]::before{
    content: attr(name);
}
habitantes[name]::before{
    content: attr(name);
}
altura[name]::before{
    content: attr(name);
}
moneda[name]::before{
    content: attr(name);
}
codigoTelefonico[name]::before{
    content: attr(name);
}
idiomaOficial[name]::before{
    content: attr(name);
}
idiomaSegundo[name]::before{
    content: attr(name);
}
area[name]::before{
    content: attr(name);
}